nav{
    display: flex;
    justify-content: space-around;
    }
 .btn{
     margin-right: 20px;
 }
.stl1{
    display: flex;
    justify-content: space-around;
    align-items: center; 
   
}
/* .bacg{
    background-image: url("images/background\ image.jpg");
    background-repeat: no-repeat;
     
} */
body{
    margin: 0%;
}
/* .bacg2{
    line-height: 10px;
} */
.provide{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.bacg4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.provides{
    display: flex;
    justify-content: space-around;
     
     
}
.bacg6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.services{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
 